body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.header {
    margin: 0;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 128px;
    height: 32px;
    align-self: center;
}

.header ul {
    display: flex;
    margin: 0;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.info-container1 {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.info-container1 h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
}

.info-container1 img {
    height: auto;
    width: 350px;
}

.info-container1 button {
    background-color: #962cff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 32px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

p {
    font-size: 18px;
}

.container1 {
    background-color: rgb(61, 4, 126);
}